*.npy
*.pyc
.idea
*.log
node_modules
front/dist/bundle.js
front/dist/bundle.js.map
front/dist/*.tif
front/dist/cluster
python/timeseries_data
memo.md
python/build
*.so
python/lic/*.png
python/lic/result/*.png
front/dist/grangertest
apiserver/dummy.json
